.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    flex-wrap: wrap;
  }
  .orden{
    margin-left: 40%;
    margin-top: 20px;
    padding: 20px;

  }
  .orden select{
    background-color: greenyellow;
  color: rgba(38, 61, 194, 0.904);
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
  cursor: pointer;
  border-radius: 12px;
  font-size: 15px;
  padding-right: 8px;
  margin: 8px;
  }
  .orden select:hover{
    background-color: #5e5dcd;
  color: greenyellow;
  }