.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.detalles{
    border-radius: 12px;
}
.detalles:hover{
    width: 400px;
}

.caracteristicas{
    margin-right: 100px;
    
    background-color: rgba(0, 0, 0, 0.384);
    width: 300px;
    height: 300px;
    border-radius: 12px;
    text-align: center;
    color: #ffffff;

}
.caracteristicas:hover{
    margin-right: 100px;
    background-color: rgba(0, 0, 0, 0.384);
    width: 400px;
    height: 400px;
    border-radius: 12px;
    padding-top: 60px;
}
.caracteristicas p{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.caracteristicas h1{
    margin-top: 50px;
    font-family:'Times New Roman', Times, serif ;
}
